body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  background-color: #fafafa; 
  margin: 0;
  padding: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
}

form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #f58529, #dd2a7b, #8134af, #515bd4); 
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 20px; 
}

button:hover {
  opacity: 0.9; 
}

h2 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.toggle-button {
  background: none;
  border: none;
  color: #515bd4; 
  cursor: pointer;
  margin-top: 20px;
  text-decoration: underline;
  font-size: 14px;
  display: inline-block;
}

.toggle-button:hover {
  text-decoration: none;
}

form div {
  text-align: center;
}
